*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #1abc9c;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
header{
    z-index: 100;
    height: 60px;
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
}
.container{
    display: grid;
    max-width: 1024px;
    margin: 0 auto 0 auto;
    grid-template-columns: 6fr 1fr 1fr 1fr;
}
.nav-item{
    transition: .3s ease-in-out !important;
}
.mobile{
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
}
.logo{
    font-weight: 900;
    padding-left: 20px;
    text-align: left !important;
}
.logo a{
    color: #1abc9c !important;
}
.nav-item{
    justify-self: stretch;
    text-align: center;
    line-height: 60px;
    height: 60px;
    box-sizing: border-box;
    transition: .2s , opacity 1s;
}
.ham-icon{
    display: none;
    float: right;
    position: absolute;
    right: 20px;
    top: 18px;
    text-align: right;
    height: 18px;
    cursor: pointer;
    outline: none;
    transition: .3s ease-in-out;
}
.ham-icon:before{
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}
.rotate{
    transform: rotate(90deg);
    top: 20px;
    transition: .3s ease-in-out;
}
main{
    text-align: center;
}
.wrapper{
    height: 99vh;
    width: 100%;
    z-index: 0;
    background-color: black;
    color: white;
}
.main{
    background:  linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url('./img/42.jpg') no-repeat center center;
    box-sizing: border-box;
    height: 99vh;
    color: white;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.about{
    background:  linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
    ),url('./img/me.jpg') no-repeat center center;
    box-sizing: border-box;
    filter: grayscale(100) contrast(1.1);
    background-size: cover;
}
.contact{
    background:  linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
    ),url('./img/mailme.jpg') no-repeat center center;
    box-sizing: border-box;
    filter: grayscale(100);
    background-size: cover;
    line-height: calc(99vh - 100px);
}
h3{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}
.aboutMe{
    max-width: 760px;
    margin: auto;
    padding: 50px 0;
    line-height: 3em;
    color: rgba(68, 68, 68, 0.85);
}
.aboutMe a{
    color: rgba(68, 68, 68, 0.85);
    text-decoration: underline;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes scaling {
    0% {
        margin-left: 50px;
    }
    50% {
        margin-left:-50px;
    }
    100% {
        margin-left:50px;
    }
}
.fade-enter {
    opacity: 0.5;
    transition: opacity 250ms ease-in;
}

.fade-active{
    opacity: 1;
    transition: opacity 250ms ease-in;
}
.fade-appear-exit {
    opacity: .5;
    transition: opacity 250ms ease-in;
}
.meeting{
    margin-top: 18vh;
}
.meeting p{
    padding: 20px;
}
h1{
    font-size: 4em;
    font-weight: 100;
}
h2{
    text-align: center;
    margin: 0 20px 20px;
    font-size: 2em;
    color: #3c3c3c;
}
.projects{
    padding-top: 60px;
    text-align: center;
    background-color: white;
}
.projects-container{
    display: grid;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 20px 20px;
}
.project-item{
    height: 250px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid gray;
}
.project-item:nth-child(1){
    background: url('./img/news.jpg') no-repeat center center;
}
.project-item:nth-child(2){
    background: url('./img/inst.jpg') no-repeat center center;
}
.project-item:nth-child(3){
    background: url('./img/lumber.jpg') no-repeat center center;
}
.project-item:nth-child(4){
    background: url('./img/domchat.jpg') no-repeat center center;
}
.project-item:nth-child(5){
    background: url('./img/calendar.jpg') no-repeat center center;
}
.project-item:nth-child(6){
    background: url('./img/animation.jpg') no-repeat center center;
}
.project-item:nth-child(7){
    background: url('img/music.jpg') no-repeat center center;
}
.project-item:nth-child(8){
    background: url('./img/task.jpg') no-repeat center center;
}
.project-item:nth-child(9){
    background: url('./img/parser.jpg') no-repeat center center;
}
.project-item:nth-child(10){
    background: url('./img/form.jpg') no-repeat center center;
}
.project-item:nth-child(11){
    background: url('./img/landing.jpg') no-repeat center center;
}
.project-item:nth-child(n){
    box-sizing: border-box;
    background-size: cover;
    filter: grayscale(100);
}

.project-item:hover{
    transition: ease-in-out .2s;
    filter: grayscale(0);
}
.project-item a{
    height: 100%;
    width: 100%;
    z-index: 5;
    content: '';
    display: block;
}
ul{
    margin-left: 15px;
}
ul li{
    text-align: left;
}
footer{
    background-color: #e5e5e5;
    padding-top: 30px;
    padding-bottom: 30px;
}
.is-active{
    color: #1abc9c;
}
.linkedin{
    margin: auto;
    width: 40px;
    height: 40px;
    background: url('./img/linked.png') no-repeat center center;
    box-sizing: border-box;
    background-size: cover;
    filter: grayscale(100);
}
.linkedin:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.linkedin a{
    height: 100%;
    width: 100%;
    z-index: 5;
    content: '';
    display: block;
}
input, textarea{
    padding-left:15px;
    display:block;
    height:38px;
    width:100%;
    max-width:580px;
    border:1px solid #9b9b9b;
    font-size: 12px;
    color: rgba(68, 68, 68, 0.85);
    margin:0 0 16px 0;
    box-sizing: border-box;
}
.form{
    display:block;
    margin: 25px auto 50px;
    padding: 5px 5px 5px 65px;
    box-sizing: border-box;
    max-width:700px;
    width:100%;
}
legend h4{
    text-align: center;
    padding-right: 100px;
    font-family:"Maven Pro Regular",sans-serif;
    font-weight:100;
    font-size: 30px;
    color: #929292;
}
.copy{
    position:absolute;
    bottom:0;
    width:100%;
    font-size: 8px;
    height:43px;
    line-height:43px;
    padding-left:39px;
    box-sizing: border-box;
}
textarea{
    font-family:"Maven Pro Regular",sans-serif;
    height:150px;
    padding-top:13px;
    resize:none;
    color: rgba(68, 68, 68, 0.85);
}
textarea::placeholder{
    color: rgba(161, 161, 161, 0.85);
}
input::placeholder{
    color: rgba(161, 161, 161, 0.85);
}
.btn{
    float:right;
    position: relative;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: #2eb398;
    color:white;
    text-transform: uppercase;
    font-size:11px;
}
.btn button{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.contact a{
    color: black;
}
.footermail{
    max-width: 1024px;
    text-align: right;
    padding-right: 5px;
    margin: 0 auto -20px auto;
    font-size: .8em;
    color: #3c3c3c;
}
.footermail a{
    color: #2eb398;
}
@keyframes appear {
    0% {
        position: relative;
        top: -70px;
        opacity: 0;
    }
    100% {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}
.hum{
    text-align: left;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block !important;
    animation: appear .5s;
}
@media screen and (max-width:760px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .form {
        padding-left: 8%;
    }
    .nav-item{
        display: none;
    }
    .logo{
        display: block;
    }
    .ham-icon{
        display: block;
    }
}
@media screen and (max-width:560px){
    h1{
        font-size: 3em;
    }
    h3{
        padding: 10px 0 10px 0;
    }
    .aboutMe{
        line-height: 1.8em;
        padding: 0 5px 0 5px
    }
    .projects-container{
        grid-template-columns: 1fr;
        width: 250px;
    }
}
.page {
    transition: 0.5s ease-in-out;
}
.page-enter{
    filter: brightness(.2);
    transition: filter 0.5s ease-in-out;
}
.page-enter.page-enter-active {
    filter: brightness(1);
    transition: filter 0.5s ease-in-out;
}
.page-active {
    filter: brightness(.5);
    transition: filter 0.5s ease-in-out;
}
.page-leave{
    transition: filter 0.5s ease-in-out;
}
.page-leave.page-leave-active {
    filter: brightness(.0);
    transition: filter 0.5s ease-in-out;
}
